<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{{ site.baseurl }}{{ site.favicon }}" type="image/svg+xml">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <div class="container-lg px-3 my-5 markdown-body">
        <header>
            <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <p>&copy; {{ site.time | date: '%Y' }} {% if site.author %}{{ site.author }}{% endif %}</p>
        </footer>
    </div>
</body>
</html>
